<!-- <a href="/comments/{{id}}"> -->
<header>{{comment.user_id}}</header>
<p>{{comment.content}}</p>
<!--</a>-->

<p><textarea id="commentbox"></textarea><button class="btn-no-style">Add comment</button></p>