<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Tracker</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/jass.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/style.css" />
  </head>

  <body>
    <header>
      <h1>Let's Keep Track, Project Management!</h1>
    </header>
    <nav>
    </nav>
    <main>
      <aside>
        <h2>Enjoy the tracker!</h2>
      </aside>
      {{{body}}}
    </main>
  </body>

</html>