<section class="container">
  {{#if loggedIn}}
  <section class="card">
  <p>Comment #{{comment.id}}</p>
  <section class="flex-row justify-center">
    {{> comment-details}}
  </section></section>
  
</section>
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}